<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Staf Perpustakaan</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static\styling\peminjaman.css">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
        <a class="navbar-brand" href="/staff_home">Calvin Library Staff</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/staff_home">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/peminjaman">Peminjaman</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pengembalian">Pengembalian</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registration">Registrasi Member</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/staff_login" onclick="document.cookie = 'staff_username=;'">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <h2>Search for Books</h2>
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <form action="/peminjaman" method="get">
                    <div class="input-group">
                        <div id="searchInput">
                            <input type="text" class="form-control" placeholder="Search for books..." name="filter">
                        </div>
                        <select class="custom-select" id="categorySelect" name="category">
                            <option value="all">All</option>
                            <option value="title">Book's Title</option>
                            <option value="genre">Genre</option>
                            <option value="writer">Writer's Name</option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>     
        </div>
    </div>
    
    <div class="container mt-4">
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% elif total_pages == 0 %}
            {% if category == 'all' %}
                <div class="alert alert-warning" role="alert">
                    No Book Available
                </div>
            {% elif category == 'title' %}
                <div class="alert alert-danger" role="alert">
                    Please Enter a Search Term for Book Title
                </div>
            {% elif category == 'genre' %}
                <div class="alert alert-danger" role="alert">
                    Please Enter a Search Term for Genre
                </div>
            {% elif category == 'writer' %}
                <div class="alert alert-danger" role="alert">
                    Please Enter a Search Term for Author
                </div>
            {% endif %}
        {% else %}
            <div class="row" id="row-books">
                {% for book in books %}
                <div class="col-md-3">
                    <div class="card mb-4 custom-card" id="display-books">
                        <img src="{{book.image}}" class="card-img-top" alt="{{ book.nama_buku }}" style="max-width: 200px; max-height: 200px;">
                        <div class="card-body">
                            <h6 class="card-title text-center">{{ book.nama_buku }}</h6>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#bookInfoModal{{ book.id_buku }}">More Info</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>    
    
    <div class="container mt-4">
        <div class="row">
            {% if not error_message and total_pages > 0 %}
                <div class="col-md-3" id="text-page-number">
                    <p>Page {{ halaman }} of {{ total_pages }}</p>
                </div>
            {% endif %}
            <div class="col-md-6 text-center">
                {% if not error_message %}
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            {% if halaman > 1 %}
                                <li class="page-item">
                                    <a class="page-link" href="/peminjaman?page=1&filter={{ filter }}&category={{ category }}" aria-label="First">
                                        <span aria-hidden="true">&laquo;&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="/peminjaman?page={{ halaman - 1 }}&filter={{ filter }}&category={{ category }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for page_num in range(1, total_pages + 1) %}
                                <li class="page-item {% if page_num == halaman %}active{% endif %}">
                                    <a class="page-link" href="/peminjaman?page={{ page_num }}&filter={{ filter }}&category={{ category }}">{{ page_num }}</a>
                                </li>
                            {% endfor %}
                            {% if halaman < total_pages %}
                                <li class="page-item">
                                    <a class="page-link" href="/peminjaman?page={{ halaman + 1 }}&filter={{ filter }}&category={{ category }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="/peminjaman?page={{ total_pages }}&filter={{ filter }}&category={{ category }}" aria-label="Last">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>      

    {% for book in books %}
    <div class="modal fade" id="bookInfoModal{{ book.id_buku }}" tabindex="-1" role="dialog" aria-labelledby="bookInfoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bookInfoModalLabel">Book Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Title: {{ book.nama_buku }}</h6>
                    <p>Author: {{ book.author }}</p>
                    <p>Genre: {{ book.genre }}</p>
                    <p>Stock: {% if book.stock > 0 %} Yes {% else %} No {% endif %}</p>
                    <p>Description: {{ book.description }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pinjamModal" data-bookid="{{ book.id_buku }}" data-booktitle="{{ book.nama_buku }}">Pinjam</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- Modal (pop up) untuk Pinjam buku -->
    <div class="modal fade" id="pinjamModal" tabindex="-1" role="dialog" aria-labelledby="pinjamModalLabel1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pinjamModalLabel">Pinjam Buku</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/insert_peminjaman" method="POST">
                        <div class="form-group">
                            <label for="nim">NIM</label>
                            <input type="text" class="form-control" name="nim" id="nim" placeholder="Masukkan NIM">
                        </div>
                        <div class="form-group">
                            <label for="idBuku">ID Buku</label>
                            <input type="text" class="form-control" name="id_buku" id="id_buku" disabled>
                            <!-- Hidden input untuk menyimpan book's ID -->
                            <input type="hidden" name="book_id" id="book_id">
                        </div>
                        <div class="form-group">
                            <label for="tglPeminjaman">Tanggal Peminjaman</label>
                            <input type="date" class="form-control" name="tglPeminjaman" id="tglPeminjaman">
                        </div>
                        <div class="form-group">
                            <label for="tglPengembalian">Tanggal Pengembalian</label>
                            <input type="date" class="form-control" name="tglPengembalian" id="tglPengembalian">
                        </div>
                        <div class="form-group">
                            <label for="keterangan">Keterangan</label>
                            <select class="form-control" id="keterangan" name="keterangan">
                                <option value="BELUM KEMBALI">BELUM KEMBALI</option>
                                <option value="KEMBALI">KEMBALI</option>
                            </select>
                        </div>
                        <input type="hidden" name="id_peminjaman" id="id_peminjaman">
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="submit-button">OK</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var pinjamButtons = document.querySelectorAll('[data-target="#pinjamModal"]');
            pinjamButtons.forEach(function(button) {
                button.addEventListener("click", function() {
                    var bookId = button.getAttribute("data-bookid");
                    var bookTitle = button.getAttribute("data-booktitle");
                    document.getElementById("id_buku").value = bookId;
                    document.getElementById("book_id").value = bookId;
                    // Baris ini menghasilkan ID unik
                    var uniquePeminjamanID = generateUniqueID();
                    document.getElementById("id_peminjaman").value = uniquePeminjamanID;
                    // document.getElementById("idBukuLabel").textContent = "ID Buku - " + bookTitle;
                });
            });
    
            // Fungsi untuk membuat ID peminjaman unik (misalnya, timestamp)
            function generateUniqueID() {
                var timestamp = new Date().getTime();
                return timestamp;
            }
        });  

        categorySelect.addEventListener('change', function() {
            const selectedCategory = categorySelect.value;
            const searchInput = document.getElementById('searchInput');

            if (selectedCategory === 'genre' || selectedCategory === 'writer') {
                searchInput.innerHTML = '';
                searchInput.innerHTML = '<select class="form-control" name="filter"></select>';

                const filterSelect = searchInput.querySelector('select');
                const defaultOption = document.createElement('option');
                defaultOption.text = selectedCategory === 'genre' ? 'Select a genre' : 'Select an author';
                filterSelect.add(defaultOption);

                // Menguraikan data CSV menjadi array
                const dataAttribute = selectedCategory === 'genre' ? '{{ genre_options }}' : '{{ author_options }}';
                const options = dataAttribute.split(',');

                for (const option of options) {
                    const optionElement = document.createElement('option');
                    optionElement.text = option;
                    filterSelect.add(optionElement);
                }
            } else {
                searchInput.innerHTML = '';
                searchInput.innerHTML = '<input type="text" class="form-control" placeholder="Search for books..." name="filter">';
            }
        });
    </script>    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>