<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Staf Perpustakaan</title>
    <link rel="stylesheet" href="static/styling/staff_home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/staff_home">Calvin Library</a>
        <div class="navbar-nav ml-auto">
            <div class="nav-item">
                <a class="nav-link" href="/peminjaman">Peminjaman</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="/pengembalian">Pengembalian</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="/registration">Registrasi Member</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="/staff_login">Logout</a>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <h2>Denda</h2>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">NIM</th>
                    <th scope="col">Book ID</th>
                    <th scope="col">Book Name</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Fine Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><button class="btn btn-link" data-toggle="modal" data-target="#nimDetailsModal1">M01</button></th>
                    <td>123</td>
                    <td>Book Title 1</td>
                    <td>2023-02-15</td>
                    <td>Rp. 20.000</td>
                </tr>
                <tr>
                    <th scope="row"><button class="btn btn-link" data-toggle="modal" data-target="#nimDetailsModal2">M02</button></th>
                    <td>456</td>
                    <td>Book Title 2</td>
                    <td>2023-03-20</td>
                    <td>Rp. 50.000</td>
                </tr>   
            </tbody>
        </table>
        <div class="modal fade" id="nimDetailsModal1" tabindex="-1" role="dialog" aria-labelledby="nimDetailsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="nimDetailsModalLabel">Detail Pemilik NIM</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Isi dengan detail NIM -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <i class="fas fa-user-circle fa-5x mt-3"></i>
                                    <div class="card-body">
                                    <h5 class="card-title">John Doe</h5>
                                    <p class="card-text">Library Member</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4>NIM: M01</h4>
                                <p>Email: email@example.com</p>
                                <p>Program Studi: IBDA</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="nimDetailsModal2" tabindex="-1" role="dialog" aria-labelledby="nimDetailsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="nimDetailsModalLabel">Detail Pemilik NIM</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Isi dengan detail NIM -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <i class="fas fa-user-circle fa-5x mt-3"></i>
                                    <div class="card-body">
                                    <h5 class="card-title">John Doe</h5>
                                    <p class="card-text">Library Member</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4>NIM: M02</h4>
                                <p>Email: email@example.com</p>
                                <p>Program Studi: IBDA</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>